*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 40px;
    background-color: white;
    width: 100%;
    box-shadow: 0 3px 10px 0px gray;
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    padding: 7px ;
}
.cross-bar-box{
    width: 60%;
    height: 300vh;
    margin-left: -63%;
    background-color: white;
    transition: 1s;
    border: 1px solid gray;
}
.secondstyle{
    margin-left: -10px;
}
.table{
    margin-top: 960px;
}
#btn-menu{
    color: black;
    padding: 0 15px;
}
#close-btn{
    display: none;
    padding: 0 15px;
}
.logo{
    width: 40px;
    height: 30px;
}
.container{
    margin: auto;
width: 80%;
}

.main-text-box{
    z-index: -1;
}
h1{
    animation-name: colorChange;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    text-align: center;
    color: crimson;
    margin-top: 20px;
    z-index: -1;
}
@keyframes colorChange {
    to{
        transform: scale(1.1);
        color: dodgerblue;
    }
}
.hero-text-AND{
    animation-name: colorChangeAnd;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    text-align: center;
    color: green;
}
@keyframes colorChangeAnd {
    to{
        color: red;
    }
}
.hero-text-Time{
    animation-name: colorChangeTime;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    text-align: center;
    color: aqua;

}
@keyframes colorChangeTime {
    to{
        color: dodgerblue;
    }
}
.hero-text{
    text-align: center;
    margin-top: 20px;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* .question-box{
    display: flex;
    align-items: center;
    flex-direction: column;
} */
.test-one{
    margin-top: 30px;
    color: orange;
}
.test-two{
    color: purple;
}
.test-three{
    color: green;
}
.test-four{
    color: palevioletred;
}
.test-five{
    color: midnightblue;
}
.test-six{
    color: orangered;
}
.number{
    color: black;
}
input{
    width: 90px;
    outline: none;
}
.verb{
    color: black;
}
img{
    width: 200px;
    height: 100px;
    margin-top: 10px;
}
button{
    background-color: dodgerblue;
    border-radius: 6px;
    padding:  10px 30px;
    border: none;
    cursor: pointer;
    color: white;

}
button:hover{
    background-color: aqua;
    transition: 1s;
}
button:active{
    box-shadow: 0px 0px 0px 3px aqua;
    transition: none;
}
.btn-box{
display: flex;
justify-content: center;
}

img{
    border-radius: 7px;
}
.picture{
    width: 50%;
    height: 300px;
}

.first-stage:hover{
fill: red;
}
.second-stage:hover{
    fill: orange;
    }
    .third-stage:hover{
        fill: yellow;
        }
        .fourt-stage:hover{
            fill: green;
            }
            .ordinary{
                width: 200px;
                height: 200px;
                background-color: red;
                position: relative;
                
            }
            .picture-strategy{
                position: relative;
                margin: auto;
                z-index: -1;
            }
            .picture-strategy::before{
                content: '';
                height: 0; 
                width: 0;
                position: absolute;
                border-top: 8px solid transparent;
                border-right: 14px solid dodgerblue;
                border-bottom: 8px solid transparent;
                left: 29%;
                top: 50%;
            }
            .picture-strategy::after{
                content: '1. 10/10 that is excellent, 2. 8/10 that is great   3. 6/10 not bad, 4. 3/10 work harder ';
                height: 40%; 
                background-color: dodgerblue;
                color: white;
                width: 19%;
                position: absolute;
                left: 30%;
                top: 25%;
                line-height: 25px;
                border-radius: 7px;
            }
            h3{
                line-height: 30px;
            }
            .box-explaination{
                width: 40%;
                height: 200px;
                background-color: rgb(234, 234, 234);
                margin: 50px auto;
                border-radius: 7px;
            }
            .box-explaination{
                height: 200px;
                overflow-y: auto;
            }
            .text-explaination{
                text-align: center;
            }
            @media only screen and (max-width: 450px) {
                .picture-strategy::after{
                    left: 33%;
                    top: 30%;
width: 60%;
                }
                .box-explaination{
                    width: 80%;
                }

                .picture-strategy::after{
                    content: '1. 10/10 that is excellent, 2. 8/10 that is great   3. 6/10 not bad, 4. 3/10 work harder ';
                    height: 40%; 
                    background-color: dodgerblue;
                    color: white;
                    width: 60%;
                    position: absolute;
margin-top: 100px;
                    line-height: 25px;
                    border-radius: 7px;
                }
                .picture-strategy::before{
                    content: '';
                    height: 0; 
                    width: 0;
                    position: absolute;
                    border-left: 8px solid transparent;
                    border-bottom: 14px solid dodgerblue;
                    border-right: 8px solid transparent;
                    left: 33.5%;
                    top: 56.5%;
                }
                .table{
                    margin-top: 800px;
                }
            }